:root {
  --color-red: 220, 121, 121;
  --color-secondary: 91, 198, 212;

  --width-xs: 410px;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --width-full-hd: 1920px;
  --width-2k: 2048px;
  --width-4k: 3840px;
  
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;
  --container-full-hd: 1740px;
  --container-2k: 1868px;
  --container-4k: 3660px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body{
  @apply bg-default text-default font-body;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */




.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  animation: shimmer 3s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.light .skeleton::after  {
  background-image: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0) 0,
    rgba(230, 230, 230, 0.2) 20%,
    rgba(230, 230, 230, 0.5) 60%,
    rgba(230, 230, 230, 0)
    );
  }
  
.dark .skeleton::after  {
  background-image: linear-gradient(
    90deg,
    rgba(90, 90, 90, 0) 0,
    rgba(90, 90, 90, 0.2) 20%,
    rgba(90, 90, 90, 0.5) 60%,
    rgba(90, 90, 90, 0)
    );
  }
    

.dark {
  
  --color-bg-default: 28, 28, 28;
  --color-bg-depth-1: 47, 47, 47;
  --color-bg-depth-2: 55, 55, 55;
  --color-bg-depth-3: 70, 70, 70;
  --color-opposite: 34, 34, 34;
  --color-primary: 10, 254, 163;
  --color-primary-depth-1: 102, 255, 198;
  
  --color-text-default: 255, 255, 255;
  --color-text-depth-1: 216, 216, 216;
}

.light {
  
  --color-bg-default: 246, 246, 246;
  --color-bg-depth-1: 255, 255, 255;
  --color-bg-depth-2: 240, 240, 240;
  --color-bg-depth-3: 191, 191, 191;
  --color-opposite: 255, 255, 255;
  --color-primary: 60, 203, 157;
  --color-primary-depth-1: 31, 211, 144;

  --color-text-default: 34, 34, 34;
  --color-text-depth-1: 122, 122, 122;
}
